<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>UIMA Explorer</title>
        <style>
            /* body {
                background-color: black;
                color: white;
            }

            img {
                width: 40%;
                -webkit-filter: invert(1);
                filter: invert(1);
            }

            .card {
                background-color: black;
            }

            .card p {
                color: white;
            }

            pre, th, td {
                color: white;
            }

            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }

                img {
                    width: 40%;
                    -webkit-filter: invert(0);
                    filter: invert(0);
                }
            } */

            pre {
                overflow-y: scroll;
                white-space: -moz-pre-wrap;
                /* Mozilla, supported since 1999 */
                white-space: -pre-wrap;
                /* Opera */
                white-space: -o-pre-wrap;
                /* Opera */
                white-space: pre-wrap;
                /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
                word-wrap: break-word;
                /* IE 5.5+ */
            }

            .modal-content {
                position: relative;
                background-color: #fff;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                border: 0;
                border: 0;
                border-radius: 0;
                outline: 0;
                max-height: 500px;
                overflow: scroll;
            }

            .container {
                overflow: auto;
                margin-top: 50px;
            }

            .dataframe {
                margin-left: -20px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1>UIMA Explorer</h1>
            <br>
            <p>UIMA or Unstructured Information Management Architecture helps in annotating unstructured data.<br>
                Upload an annotated text file below to find out more!</p>
            <br>
            
            <!-- File Upload Form -->
            <form style="margin-left:-10px" class="form" method="POST" action="" enctype="multipart/form-data">
                <p><input type="file" name="file"></p>
                <p><input class="btn btn-dark" style="margin-left:10px" type="submit" value="Submit"></p>
            </form>


            {% if input and output %}
                <h4>Result</h4>
                <br><br>
                <div class="row">
                    <div class="col">
                        <div class="inputmodal">
                            <p>View the Raw Text encoded in the file</p>
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                                Input Text
                            </button>
                            {% include 'inputtextmodal.html' %}
                        </div>
                    </div>
                    <div class="col">
                        <p>View all Dependent Tags in the annotated file</p>
                        <a href="{{ url_for('get_dependent_tags', file_path=file_path)}}"><button
                            class="btn btn-dark" onclick="showDependent()">Dependent Tags</button></a>
                        </button>
                    </div>
                    <div class="col">
                        <p>View All Custom Layers Used in the annotation</p>
                        <button type="button" class="btn btn-dark" onclick="showLayers()">
                            All Layers
                        </button>
                    </div>
                    <div class="col">
                        <p>Download the Filtered Table as CSV</p>
                        <div class="download">
                            <a href="{{ url_for('download_file', file_path=file_path, layers=output['filtered_layers'], attributes=None)}}"><button
                                    class="btn btn-dark">Download CSV</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <p>View columnwise annotations</p>
                        <div class="columnwise">
                            <a href="{{ url_for('transpose_table', file_path=file_path)}}"><button
                                    class="btn btn-dark">Transpose Table</button></a>
                        </div>
                    </div>
                </div>


                <div id="output" style="margin-top: 20px;">
                    <div class="card-body" >
                        <div id="layerselect">
                            {% if type=='layer' %}
                                <form method="POST" class="form" action="/filter_layers">
                                    <input type="text" name="file_path" value="{{file_path}}" hidden><br>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Layer</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for l in output['all_layers']%}
                                            <tr>
                                                <td>{{l}}</td>
                                                <td><input type="checkbox" value="{{l}}" name="layer-select"></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-dark">Filter</button>
                                </form>
                            {% endif %}
                        </div>
                        
                        <div id="outputdiv">
                            {% if type=='layer' or type=='dependent' %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            {% for col in output['df'].columns %}
                                            <th><input type="checkbox" value="{{col}}" class="danger" name='filter'>{{col}}
                                            </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for row in output['df'].iterrows() %}
                                        <tr>
                                            {% for cell in dict(row[1]).values() %}
                                            <td>
                                                {{cell}}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            {% endif%}
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>
        <script type="text/javascript">
            function showLayers() {
                document.getElementById('layerselect').style.display = 'block';
                document.getElementById('outputDiv').style.display = 'none';
            }
            
            function showDependent() {
                document.getElementById('layerselect').style.display = 'none';
                document.getElementById('outputDiv').style.display = 'block';
            }
        </script>
    </body>

</html>