<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>UIMA Explorer</title>

        <body>
            <div class="container">
                <h1>UIMA Explorer</h1>
                <br>
                <p>UIMA or Unstructured Information Management Architecture helps in annotating unstructured data.<br></p>
                
                {%if output %}
                    <p>Please select one of the columns from below to transpose</p>
                    
                    <form action='/transpose_table' method='POST'>
                        {% for c in output['df'].columns %}
                            <div class="form-check form-check-inline" style="margin-right: 20px;">
                                <input style="margin-right: 5px;" type="radio" name="columns" id="{{c}}" value="{{c}}">
                                <label class="form-check-label" for="{{c}}">{{c}}</label>
                            </div>
                                
                        {% endfor %}    <br><br>
                            <input name="fp" type="text" hidden value="{{file_path}}">
                            <input type="submit" class="btn btn-dark" value="Submit">
                    </form>
                {% endif %}
                {% if grouped %}
                    {% for g, m in grouped.items() %}
                        <h6>{{g}}</h6>
                        <ul>
                            {% for i in m %}
                                <li>{{i}}</li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </body>
    
    </html>